@import '../UI/UI.module.scss';

.SetupGuideTitle {
	margin: 10px 0 10px 0;
	font-size: 1.7rem;
	color: green;
	&:after {
		content: '';
		position: absolute;
		top: 40px;
		right: 0;
		width: 100%;
		height: 1px;
		background-image: $orange-line-color;
		-webkit-background-image: $orange-line-color;
		-moz-background-image: $orange-line-color;
		-o-background-image: $orange-line-color;
		-ms-background-image: $orange-line-color;
	}
}
