@import '../UI/UI.module.scss';
@include scrollbarFormMob('.ReviewMob');

input[type='time']::-webkit-calendar-picker-indicator {
	background: none;
	display: none;
}

.GuideForm {
	position: relative;
	margin: 25px auto;
	background-color: transparent;
}

.GuideFormMob {
	@extend .GuideForm;
	width: 100vw;
	overflow-x: hidden;
	margin: 0;
}

.Forward {
	@include button;
	display: inline-block;
	position: relative;
	width: auto;
	align-self: flex-end;
	margin: 0 5px 10px 350px;
	padding: 4px 8px;
}

.ForwardMob {
	@extend .Forward;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 10px 7vh 0;
	font-size: 1.7rem !important;
	@media screen and (orientation: landscape) {
		position: relative;
		float: right;
		margin: 28px 10px 30px 0;
	}
}

.Review {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 5px 0;
	background-color: rgb(185, 185, 185);
	cursor: default;
	h4 {
		margin: 0 0 20px 0;
		text-decoration: underline;
	}
	p {
		margin: 5px 0;
	}
}

.ReviewMob {
	@extend .Review;
	width: 95vw;
	width: unset;
	max-height: 150px;
	overflow-y: auto;
	margin: 45px auto;
}

.Add {
	box-sizing: content-box !important;
	padding: 5px 10px;
	font-size: 1.5rem !important;
}

.AddMob {
	@extend .Add;
	float: left !important;
	margin-top: 20px;
	margin-left: 8px;
}

.Save {
	@extend .Add;
	width: auto;
}

.pickDuratuion {
	display: block;
	width: 400px !important;
	margin: 20px auto 5px auto;
	font-size: 18px !important;
}

.pickDuratuionMob {
	display: block;
	width: 97% !important;
	margin: 20px auto 5px auto;
	font-size: 1.2rem !important;
}

.WorkingTimeContainer {
	@include RoundBottomBorders(7px);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 5px;
	height: auto;
	overflow: hidden;
	background-color: $base-cal-font-color;
}

.WorkingTimeContainerMob {
	@extend .WorkingTimeContainer;
	display: block;
	flex-direction: unset;
	overflow-y: auto;
	height: 60vh;
	border-bottom: 5px ridge orange;
}

.DayTitleMob {
	width: 8vw;
	p {
		align-self: center;
		justify-self: center;
		margin: 0 !important;
		padding: 0 1px !important;
		font-size: 0.9rem !important;
	}
}

.WorkingTimeHeader {
	@include RoundTopBorders(7px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	height: auto;
	margin: auto;
	padding: 5px;
	background-color: $sidedrawer-background-color;
	input[type='button'] {
		margin-left: 10px;
		height: 30px;
		font-size: 1rem;
	}
	select {
		margin-left: 10px;
		color: white;
		border: 3px ridge gray;
		background-color: rgba($header-background-color, 0.8);
		&:focus {
			border: 3px ridge rgba($base-orange-color, 0.7);
		}
	}
}

.WorkingTimeHeaderMob {
	@extend .WorkingTimeHeader;
	.Icon {
		display: flex;
		height: 30px !important;
		margin-left: 0;
		padding: 3px 5px;
		font-size: 1.5rem;
		border: 1px inset white;
		border-radius: 12px;
		box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
		-moz-box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
		-webkit-box-shadow: 3px 3px 3px rgba(68, 68, 68, 0.6);
		transition: all 402ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
		-webkit-transition: all 402ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
		color: $base-orange-color;
		background-image: $calendar-weeks-button-bg;
	}
}

.WorkingTimeHead {
	display: flex;
	flex-direction: row;
	justify-content: center;
	div {
		height: auto;
		box-sizing: border-box;
		padding: 5px 0;
		font-size: 1rem;
		border: 1px solid black;
		background-color: rgba($base-orange-color, 0.4);
	}
}

.WorkingTimeBody {
	display: flex;
	flex-direction: row;
}

.WorkingTimeBodyMob {
	display: flex;
	flex-direction: column;
}

.WorkingTimeBodyBlockMob {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
}

.WorkingTimeDays {
	display: flex;
	flex-direction: column;
	width: 7vw;
	border-right: 1px solid black;
	background-color: rgba($base-orange-color, 0.4);
	div {
		@include flexBoxCenter;
		width: 100%;
		box-sizing: border-box;
		width: 100%;
		height: 47px;
		border: 1px solid black;
	}
}

.WorkingTimeDaysMob {
	@include flexBoxCenter;
	display: flex;
	flex-direction: column;
	border-right: 1px solid black;
	background-color: rgba($base-orange-color, 0.4);
	p {
		width: 9.5vw;
		font-size: 1.2rem !important;
		transform: rotate(-90deg);
	}
}

.WorkingTimeBlock {
	display: flex;
	flex-direction: column;
	width: 30vw;
	div {
		border: 1px solid black;
		justify-self: center;
		padding: 5px;
	}
}

.WorkingTimeBlockMob {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.WorkingTimePairsContainer {
	@include flexBoxCenter;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	height: 47px;
	input {
		font-size: 1rem;
		@media screen and (max-width: $small) {
			font-size: 1rem;
			height: 2rem;
		}
	}
}

.WorkingTimePairsContainerMob {
	@extend .WorkingTimePairsContainer;
	flex-direction: row;
}

.WorkingTimePairsMob {
	width: 42vw;
}

.WorkingTimePairs {
	display: inline-block;
	width: 100%;
	height: 25px;
	cursor: pointer;
	color: $base-orange-color;
	box-shadow: none;
	background-color: $header-background-color;
}

.WorkingTimePairsMob {
	@extend .WorkingTimePairs;
	display: block;
}

.WorkingTimePairsLine {
	font-size: 2rem;
}

.WorkingTimeAbsence {
	display: flex;
	flex-direction: column;
	width: 33vw;
	div {
		justify-self: center;
		box-sizing: border-box;
		height: 47px;
		padding: 2px 2px;
		border: 1px solid black;
		overflow: hidden;
	}
}

.WorkingTimeAbsenceMob {
	display: flex;
	flex-direction: column;
	width: 100%;
	div {
		justify-self: center;
		box-sizing: border-box;
		height: 47px;
		padding: 2px 2px;
		border: 1px solid black;
		overflow: hidden;
	}
}

.AbsencePairsContainer {
	@include flexBoxCenter;
	display: flex;
	flex-direction: row;
	height: 47px;
	width: 100%;
	background-color: bisque;
}

.AbsenceRadioContainer {
	display: flex;
	flex-direction: column;
	margin-top: -2px;
	border: none !important;
}

.AbsenceRadioContainerMob {
	@extend .AbsenceRadioContainer;
	margin: 0;
	padding: 15px;
}

.Radio_p_Container {
	display: flex;
	flex-direction: row;
	border: none !important;
	p {
		font-size: 0.78rem;
		margin: 3px 0 0 20px;
		@media screen and (max-width: $small) {
			font-size: 0.6rem;
		}
	}
}

.Radio_p_ContainerMob {
	@extend .Radio_p_Container;
	padding: 3px;
	p {
		font-size: 0.8rem;
	}
}

.AbsenceRadiolbl {
	display: block;
	position: relative;
	padding-left: 0;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.AbsenceRadiolbl input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.AbsenceCheckmark {
	position: absolute;
	height: 16px;
	width: 16px;
	background: gray;
	border-radius: 50%;
	border: none;
}

/* On mouse-over, add a grey background color */
.AbsenceRadiolbl:hover input ~ .AbsenceCheckmark {
	background: gray;
}

/* When the radio button is checked, add a blue background */
.AbsenceRadiolbl input:checked ~ .AbsenceCheckmark {
	background: gray;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.AbsenceCheckmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.AbsenceRadiolbl input:checked ~ .AbsenceCheckmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.AbsenceRadiolbl .AbsenceCheckmark:after {
	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: rgba($base-orange-color, 0.8);
}

.Radio {
	cursor: pointer;
	margin: 0 10px 0 10px;
	border-radius: 50%;
	z-index: 9;
	opacity: 1;
}
