@import '../UI/UI.module.scss';

input[type='time']::-webkit-calendar-picker-indicator {
	background: none;
	display: none;
}

.WorkingTimeContainer {
	@include RoundBottomBorders(7px);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 5px;
	height: auto;
	overflow: hidden;
	background-color: $base-cal-font-color;
}

.WorkingTimeHeader {
	@include RoundTopBorders(7px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	height: auto;
	margin: auto;
	padding: 5px;
	background-color: $sidedrawer-background-color;
	input[type='button'] {
		margin-left: 10px;
		height: 30px;
		font-size: 1rem;
	}
	select {
		margin-left: 10px;
		color: white;
		border: 3px ridge gray;
		background-color: rgba($header-background-color, 0.8);
		&:focus {
			border: 3px ridge rgba($base-orange-color, 0.7);
		}
	}
}

.WorkingTimeHead {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: rgba($base-orange-color, 0.2);
	div {
		height: auto;
		box-sizing: border-box;
		padding: 5px 0;
		font-size: 1rem;
		border: 1px solid black;
	}
}

.WorkingTimeBody {
	display: flex;
	flex-direction: row;
}

.WorkingTimeDays {
	display: flex;
	flex-direction: column;
	width: 7vw;
	border-right: 1px solid black;
	background-color: rgba($base-orange-color, 0.4);
	div {
		@include flexBoxCenter;
		width: 100%;
		box-sizing: border-box;
		width: 100%;
		height: 47px;
		border: 1px solid black;
	}
}

.WorkingTimeBlock {
	display: flex;
	flex-direction: column;
	width: 30vw;
	div {
		border: 1px solid black;
		justify-self: center;
		padding: 5px;
	}
}

.WorkingTimePairsContainer {
	@include flexBoxCenter;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	height: 47px;
	input {
		font-size: 1rem;
		@media screen and (max-width: $small) {
			font-size: 0.85rem;
		}
	}
}

.WorkingTimePairs {
	display: inline-block;
	width: 100%;
	height: 25px;
	cursor: pointer;
	color: $base-orange-color;
	box-shadow: none;
	background-color: $header-background-color;
}

.WorkingTimePairsLine {
	font-size: 2rem;
}

.WorkingTimeAbsence {
	display: flex;
	flex-direction: column;
	width: 33vw;
	div {
		justify-self: center;
		box-sizing: border-box;
		height: 47px;
		padding: 2px 2px;
		border: 1px solid black;
		overflow: hidden;
	}
}

.AbsencePairsContainer {
	@include flexBoxCenter;
	display: flex;
	flex-direction: row;
	height: 47px;
	width: 100%;
	background-color: bisque;
}

.AbsenceRadioContainer {
	display: flex;
	flex-direction: column;
	margin-top: -2px;
	border: none !important;
}

.Radio_p_Container {
	display: flex;
	flex-direction: row;
	border: none !important;
	p {
		font-size: 0.78rem;
		margin: 3px 0 0 20px;
		@media screen and (max-width: $small) {
			font-size: 0.6rem;
		}
	}
}

.AbsenceRadiolbl {
	display: block;
	position: relative;
	padding-left: 0;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.AbsenceRadiolbl input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.AbsenceCheckmark {
	position: absolute;
	height: 16px;
	width: 16px;
	background: gray;
	border-radius: 50%;
	border: none;
}

/* On mouse-over, add a grey background color */
.AbsenceRadiolbl:hover input ~ .AbsenceCheckmark {
	background: gray;
}

/* When the radio button is checked, add a blue background */
.AbsenceRadiolbl input:checked ~ .AbsenceCheckmark {
	background: gray;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.AbsenceCheckmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.AbsenceRadiolbl input:checked ~ .AbsenceCheckmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.AbsenceRadiolbl .AbsenceCheckmark:after {
	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: rgba($base-orange-color, 0.8);
}

.Radio {
	cursor: pointer;
	margin: 0 10px 0 10px;
	border-radius: 50%;
	z-index: 9;
	opacity: 1;
}
