@import '../../scss/variables.scss';

@include scrollbars();

.Layout {
	width: 100%;
	height: auto;
	background-color: $base-background-color;
}

.Main {
	padding-top: 55px;
}

.OpenMob {
	transform: translateX(0);
}

.CloseMob {
	transform: translateX(-100%);
}
